[Unit]
Description=The LoRa Gateway

[Service]
WorkingDirectory=/opt/gateway/packet_forwarder/lora_pkt_fwd/
ExecStart=/opt/gateway/packet_forwarder/lora_pkt_fwd/start.sh
SyslogIdentifier=ttn-gateway
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
